:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --logo-color: #4d5ae5;
  --card-background: #ffffff;
  --background-color: #ffffff;
  --footer-text: #f4f4fd;
  --link-hover: #404bbf;
}
body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--primary-color);
}
/*reset*/
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}